* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  max-width: 480px;
  min-height: 100%;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Pretendard";
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  white-space: pre-line;
}

a {
  color: inherit;
  text-decoration: none;
}
